.form {
    margin-top: 3px;
    border-radius: 12px;
    border: solid rgba(0, 0, 0, 0.175) 1.5px;
    width: 520px;
    position: relative;
    bottom: 20px;
}

.formIP {
    margin-top: 60px;
}

.formLogin {
    margin-top: 28px;
    border-radius: 16px;
    border: solid rgba(0, 0, 0, 0.175) 1.5px;
    width: 520px;
    position: relative;
    bottom: 20px;
}

.formRegistro {
    border-radius: 16px;
    border: solid rgba(0, 0, 0, 0.175) 1.5px;
    width: 620px;
}

.formRegistro input {
    width: 100%;
    padding: 10px 40px 10px 18px;
    background: white;
    border: 2px solid rgba(186, 183, 183, 0.359);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 480;
    outline: none;
    color: rgb(72, 69, 69);
}

.campo-input {
    position: relative;
    margin: 10px 0;
}

.btn:hover {
    scale: 1.06;
    transition: 0.8s;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.148);
    color: black;
}

p {
    position: relative;
    top: 10px;
}

input {
    width: 100%;
    padding: 10px 40px 10px 18px;
    background: white;
    border: 2px solid rgba(133, 130, 130, 0.359);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 480;
    outline: none;
    color: rgb(72, 69, 69);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.844);
    font-weight: 400;
}

.campo-input i {
    position: absolute;
    right: 20px;
    top: 73%;
    transform: translateY(-50%);
}

.linkLogin {
    position: relative;
    top: 16px;
}

a, i {
    color: black;
}

.fa-solid.fa-lock {
    color: black;
}

.form-control:focus {
    box-shadow: none;
}
