{% extends 'app/default.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/userStyles.css' %}">
</head>

<body>

    <div class="formRegistro container bg-light shadow-lg p-5">

        <div class="text-center">

            <h3> Crie sua conta </h3>

        </div>

        <hr>
        

        <form method="POST" autocomplete="off">

            {% csrf_token %}
            {{ form.as_p }}

            <br>

            <div class="text-center">
                
                <button type="submit" class="btn btn-primary w-50 p-8"> Criar conta &nbsp; </button>
            
            </div>

        </form>

        <div class="text-center">

            <a class="linkLogin" href="{% url 'login' %}"> Já possui uma conta? </a>

        </div>


    </div>

    <br>

</body>

{% endblock %}