{% extends 'app/default.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/userStyles.css' %}">
</head>

<body>

    <div class="form container bg-light shadow-lg p-5">

        <h3 class="text-center"> Atualize um registro</h3>

        <hr>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{ form.as_p }}

            <br>

            <div class="text-center">

                <button class="botaoRegistro btn btn-primary" type="submit">Atualizar registro</button>

            </div>

        </form>

    </div>

</body>


{% endblock %}